
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}


.container{
    background: linear-gradient(to top, rgba(13, 4, 4, 0.5)20%,rgba(0,0,0,0.5)20%), url(Raum.jpeg);
    max-height: 1000px;
    min-height: 620px;

    background-size:cover;
    background-attachment:fixed;
}
   

h4{
    padding: 12px;
    margin: 12px;
    text-align: center;
    color:aquamarine;
    font-size: 2.1rem;
}
h2{
    padding: 12px;
    margin: 12px;
    text-align: center;
    color:white;
    height: 70px;
    font-size: 2.1rem;
}
.raum{
    width: 600px;
    position: relative;
    align-items: center;
    left:300px;
    border-radius: 20px;
}

select{
    height: 42px;
    padding: 10px 15px;
    margin: auto;
    line-height: 22px;
    font-size: 16px;
    width: 100%;
    border:1px solid blueviolet ;
    -webkit-appearance: none;
    appearance: none;
}


.raum select:focus{
    border: 2px solid green;
}

.button {
  min-width: 200px;
  min-height: 60px;
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
  letter-spacing: 1.3px;
  font-weight: 590;
  color: #313133;
  background: #4FD1C5;
  background: linear-gradient(90deg, rgba(129,230,217,1)0%, rgba(79,209,197,1) 100%);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
  left: 700px;
  top:-150px;

  }





